<!--

_____  ______          _____    _______ _    _ _____  _____
|  __ \|  ____|   /\   |  __ \  |__   __| |  | |_   _|/ ____|
| |__) | |__     /  \  | |  | |    | |  | |__| | | | | (___
|  _  /|  __|   / /\ \ | |  | |    | |  |  __  | | |  \___ \
| | \ \| |____ / ____ \| |__| |    | |  | |  | |_| |_ ____) |
|_|  \_\______/_/    \_\_____/     |_|  |_|  |_|_____|_____/


THIS WAS NOT WRITTEN BY ME. ALL CREDIT TO: https://github.com/bastienwirtz/homer

I just removed everything to make a simple, dark list.

  <3
      -Chase

 -->


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  
  <link rel="icon" type="image/png" href="assets/favicon.png">
  <title>_ </title>
  <!-- <link rel="stylesheet" href="/vendors/css/all.css"> -->
  <link defer rel="stylesheet" href="vendors/bulma.min.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <div id="app" v-if="config" :class="[isDark ? 'is-dark' : 'is-dark']">
    <div id="bighead">
      <!-- <section class="first-line">
        <!-- <div v-cloak class="container">
          <div class="logo">
            <img v-if="config.logo" :src="config.logo" />
            <i v-if="config.icon" :class="config.icon"></i>
          </div>
          <div class="dashboard-title">
            <span class="headline">{{ config.subtitle }}</span>
            <h1>{{ config.title }}</h1>
          </div>
        </div>
      </section> -->
      <div v-cloak v-if="config.links" class="container-fluid">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="container">
            <div class="navbar-menu">
              <div class="navbar-start">
                <a v-for="link in config.links" class="navbar-item" :href="link.url">
                  <i v-if="link.icon" style="margin-right: 6px;" :class="link.icon"></i>
                  {{ link.name }}
                </a>
              </div>
              <!-- <div class="end">
                <a v-on:click="toggleLayout()" class="icon-button navbar-item"><i
                    :class="['fas', vlayout ? 'fa-columns' : 'fa-list']"></i></a>
                <div class="search-bar">
                  <label for="search" class="search-label"></label>
                  <input type="text" id="search" v-model="filter" />
                </div>
              </div> -->
            </div>
          </div>
        </nav>
      </div>
    </div>

    <section id="main-section" class="section">
      <div v-cloak class="container">
        <div v-if="offline" class="offline-message">
          <i class="fa fa-dizzy"></i>
          <h1 onclick="location.reload()">Error. Please refresh.</h1>
          <p onclick="location.reload()">Hint: Click this text.</p>
        </div>
        <div v-else>
          <!-- Optional messages -->
          <article v-if="config && config.message" class="message" :class="config.message.style">
            <div v-if="config.message.title" class="message-header">
              <p>{{ config.message.title }}</p>
            </div>
            <div v-if="config.message.content" class="message-body">
              {{ config.message.content }}
            </div>
          </article>

          <h2 v-if="filter"><i class="fas fa-search"></i> Search</h2>

          <!-- Horizontal layout -->
          <div v-if="!vlayout || filter" class="columns is-multiline">
            <template v-for="(group, index) in config.services">
              <h2 v-if="!filter && group.name" class="column is-full"><i v-if="group.icon" :class="group.icon"></i><span
                  v-else>#</span>
                {{ group.name }}</h2>
              <service v-for="item in group.items" v-bind:item="item" class="column is-one-third-widescreen"
                v-if="!filter || (item && (item.name.toLowerCase().includes(filter.toLowerCase()) || (item.tag && item.tag.toLowerCase().includes(filter.toLowerCase()))))">
              </service>
            </template>
          </div>

          <!-- Vertical layout -->
          <div v-if="!filter && vlayout" class="columns is-multiline layout-vertical">
            <div class="column is-one-third-widescreen" v-for="(group, index) in config.services">
              <h2 v-if="!filter && group.name"><i v-if="group.icon" :class="group.icon"></i><span v-else>#</span>
                {{ group.name }}</h2>
              <service v-for="item in group.items" v-bind:item="item"
                v-if="!filter || (item && (item.name.toLowerCase().includes(filter.toLowerCase()) || (item.tag && item.tag.toLowerCase().includes(filter.toLowerCase()))))">
              </service>
            </div>
          </div>


        </div>
      </div>
    </section>
  </div>

  <script src="vendors/vue.min.js"></script>
  <script src="vendors/js-yaml.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
